body{
    font-family: Georgia, 'Times New Roman', Times, serif
}

legend{
    padding: 10px;
    background-color: aqua;
    box-shadow: 5px 5px 5px 3px rgba(200, 200, 200, 50%);
}

fieldset{
    box-shadow: 5px 5px 3px rgba(200, 200, 200, 50%);
    border-radius: 5px;
}

.form-row, .check-row{
    display: flex;
    gap: 5px;
    margin: 10px 0;
}

.form-row label{
    width: 150px;
    text-align: right;
    align-items: center;
}

.spacer {
    width: 150px;
    text-align: right;
}

input:not([type='submit']), select, textarea{
    padding: 6px;    
    font-size: 1.3em;
    border-radius: 3px;
    background-color: #f1d5d5;
}

input:not([type='submit']):focus, select:focus, textarea:focus{
    background-color:white ;
}

input[type='submit']{
    padding: 10px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 3px rgba(200, 200, 200, 50%);
}

fieldset{
    box-shadow: 5px 5px 3px rgba(88, 84, 84, 0.5);
}

legend{
    padding: 10px;
    background-color: blue;
    color: white;
}

@media only screen and (max-width:600px){
    .form-row, .check-row{
        flex-direction: column;
    }

    .form-row label, .check-row label{
        text-align: left;
    }

    .spacer {
        text-align: left;
    }


}