body {
    font-family: Arial, Helvetica, sans-serif;
    ;
    background-color: aqua;
    background-image: url('bluebg.jpg')
    
}

header {
    background-image: url('waveclipart.png');
    background-repeat: no-repeat;
    background-position: top right;
    color: white;
    
}

.mylist{
    list-style-image: url('markred.png');
}

hr{
    color: black;
}