body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

nav{
    display: none;
}

header{
    background-color:rgb(181, 152, 211);
}

header h1{
    margin: 0;
}
.card{
    border: thin solid #000;
    box-shadow: 3px 3px 3px rgba(40,40,40,0.5);
    width: 250px;
}

.card figure{
    margin: 0;
}

.card img{
    width: 100%;
}

